PORT=5000
MONGO_URI=mongodb+srv://shopnova:Test1234@cluster0.r0k0oao.mongodb.net/shopnova?retryWrites=true&w=majority&appName=Cluster0
JWT_SECRET=shopnovasecret123
JWT_EXPIRE=30d
NODE_ENV=development
CLIENT_URL=http://localhost:3000